# Ignore all sqlite files
*.sqlite

# Ignore pycache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore locally stored pickle data
#*.pkl

# Ignore local plots folder
# plots/
# /EPW-files
# /SN-files
# /pickles
# /maps

# Ignore temporary files
.~lock*

# Ignore .env
.env
